In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LogisticRegression

In [2]:
# data = pd.read_csv('./Data/Training_dataset_Small.csv')
data = pd.read_csv('./RefinedData/refined_training_data.csv', low_memory=False)

In [3]:
data.head()

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar36,mvar37,mvar38,mvar39,mvar42,mvar43,mvar44,mvar46,mvar47,default_ind
0,230032.0,1696.0,1.6541,0.000,0.0,0.0,0.0,6015.0,322.0,40369.0,...,8.0,10.0,4.0,1.0,0.08696,10.0,0.63899,0.0,1.0,0.0
1,230033.0,1846.0,0.8095,0.000,0.0,0.0,102.0,7532.0,3171.0,18234.0,...,8.0,0.0,2.0,0.0,0.00000,13.0,0.63836,0.0,0.0,1.0
2,230035.0,1739.0,0.2193,0.000,0.0,0.0,1982.0,26440.0,4955.0,20316.0,...,3.0,3.0,2.0,0.0,0.15385,3.0,0.53241,0.0,0.0,0.0
3,230036.0,1787.0,0.0118,0.225,0.0,0.0,5451.0,5494.0,5494.0,7987.0,...,2.0,3.0,2.0,0.0,0.00000,1.0,0.92665,0.0,0.0,0.0
4,230040.0,1836.0,0.1358,0.000,0.0,0.0,347.0,38964.0,17828.0,70729.0,...,6.0,12.0,2.0,0.0,0.00000,10.0,0.89868,0.0,0.0,0.0

In [4]:
X = data[data.loc[:, data.columns != 'default_ind'].columns]
Y = data['default_ind']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=.2, random_state=1)

In [5]:
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(50386, 38)
(12597, 38)
(50386,)
(12597,)

In [6]:
print(X_train.head())

       application_key   mvar1   mvar2  mvar3  mvar4  mvar5   mvar6     mvar7  \
24038         260666.0  1899.0  0.0327  0.000  0.000    0.0  2478.0  208110.0
45033         287256.0  1777.0  0.6776  0.000  0.000    0.0    36.0   15250.0
244           230342.0  1917.0  0.1304  0.000  0.000    0.0   496.0   19820.0
5498          237054.0  1627.0  2.7008  1.930  0.000    0.0     0.0     717.0
54430         299150.0  1668.0  0.0000  6.853  6.853    0.0    37.0   17739.0

         mvar8     mvar9   ...    mvar34  mvar36  mvar37  mvar38  mvar39  \
24038  23784.0  147926.0   ...       0.0     5.0     1.0     7.0     0.0
45033   3310.0   65951.0   ...       0.0    11.0     7.0    12.0     0.0
244    19820.0   61443.0   ...       0.0     2.0     8.0     1.0     0.0
5498       0.0     460.0   ...       0.0     5.0     0.0     4.0     0.0
54430  17739.0    1387.0   ...       0.0    30.0     0.0    25.0     0.0

        mvar42  mvar43   mvar44  mvar46  mvar47
24038  0.00000    21.0  0.96923     0.0     0.0
45033  0.12500    15.0  0.65294     0.0     1.0
244    0.00000     7.0  0.55142     0.0     0.0
5498   1.00000     1.0  0.97043     0.0     0.0
54430  0.96875     1.0  1.00000     1.0     1.0

[5 rows x 38 columns]

In [7]:
lr = LogisticRegression(solver='warn', max_iter = 100)
lr.fit(X_train, Y_train)
print("Done")

/usr/local/lib/python2.7/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

Done

/usr/local/lib/python2.7/dist-packages/sklearn/svm/base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [8]:
scores = cross_val_score(lr, X_train, Y_train, cv=10)
print('CV accuracy: %.3f +/- %.3f' % (np.mean(scores), np.std(scores)))

CV accuracy: 0.811 +/- 0.007

In [69]:
scores = cross_val_score(lr, X_test, Y_test, cv=10)
print('CV accuracy: %.3f +/- %.3f' % (np.mean(scores), np.std(scores)))

CV accuracy: 0.767 +/- 0.006

In [70]:
# np.set_printoptions(threshold=np.inf)

In [71]:
# type(predict)
# X_test.head()

In [72]:
lb = pd.read_csv('./RefinedData/refined_leaderboard_data.csv', low_memory=False)

In [73]:
predict = lr.predict(lb)

In [74]:
predict = pd.DataFrame(predict)
# print(predict.head())
print(predict.shape)

(25000, 1)

In [75]:
key = pd.DataFrame(lb['application_key'])
# key = key.values
print(key.shape)

(25000, 1)

In [76]:
temp = pd.DataFrame()
temp['application_key'] = lb['application_key']
temp['default_ind'] = predict
print(temp.head())

   application_key  default_ind
0         350053.0          0.0
1         350054.0          0.0
2         350055.0          0.0
3         350056.0          1.0
4         350057.0          0.0

In [77]:
# predict = np.reshape(predict, (len(predict), 1))
# print(key.shape)
# print(predict.shape)
# predict = np.vstack((key, predict))
# print(predict[:5])

In [78]:
# predict = pd.DataFrame(predict)
# predict.head()

In [79]:
# predict = pd.concat([key, predict])
# predict.head()

In [80]:
temp

       application_key  default_ind
0             350053.0          0.0
1             350054.0          0.0
2             350055.0          0.0
3             350056.0          1.0
4             350057.0          0.0
5             350058.0          0.0
6             350059.0          0.0
7             350060.0          0.0
8             350061.0          0.0
9             350062.0          0.0
10            350063.0          0.0
11            350064.0          0.0
12            350065.0          0.0
13            350066.0          1.0
14            350067.0          0.0
15            350068.0          1.0
16            350069.0          0.0
17            350070.0          0.0
18            350071.0          0.0
19            350072.0          0.0
20            350073.0          0.0
21            350074.0          0.0
22            350075.0          0.0
23            350076.0          0.0
24            350077.0          1.0
25            350078.0          0.0
26            350079.0          0.0
27            350080.0          0.0
28            350081.0          1.0
29            350082.0          0.0
...                ...          ...
24970         375023.0          1.0
24971         375024.0          0.0
24972         375025.0          1.0
24973         375026.0          1.0
24974         375027.0          1.0
24975         375028.0          0.0
24976         375029.0          0.0
24977         375030.0          0.0
24978         375031.0          1.0
24979         375032.0          1.0
24980         375033.0          0.0
24981         375034.0          0.0
24982         375035.0          1.0
24983         375036.0          0.0
24984         375037.0          0.0
24985         375038.0          0.0
24986         375039.0          0.0
24987         375040.0          1.0
24988         375041.0          1.0
24989         375042.0          1.0
24990         375043.0          1.0
24991         375044.0          0.0
24992         375045.0          1.0
24993         375046.0          1.0
24994         375047.0          0.0
24995         375048.0          0.0
24996         375049.0          0.0
24997         375050.0          0.0
24998         375051.0          0.0
24999         375052.0          0.0

[25000 rows x 2 columns]

In [81]:
temp = temp.astype(dtype='int')
temp.to_csv(path_or_buf='./Submissions/Analyzing_IITGuwahati_11.csv', index = False, header=False)