In [97]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [98]:
data = pd.read_csv('./RefinedData/Training_dataset_Original.csv', low_memory=False)

In [99]:
data.head()

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,230032,1696,1.6541,0.000,0.0,0.0,0,6015,322,40369,...,1,73.78,82.547,0.08696,10,0.63899,na,0,C,0
1,230033,1846,0.8095,0.000,0.0,0.0,102,7532,3171,18234,...,0,99.129,missing,0,13,0.63836,na,na,L,1
2,230034,1745,0.4001,0.000,0.0,0.0,missing,2536,missing,missing,...,0,missing,29.29,0,1,1.00000,na,0,C,1
3,230035,1739,0.2193,0.000,0.0,0.0,1982,26440,4955,20316,...,0,96.272,missing,0.15385,3,0.53241,0,0,L,0
4,230036,1787,0.0118,0.225,0.0,0.0,5451,5494,5494,7987,...,0,115.019,missing,0,1,0.92665,na,na,L,0

In [100]:
data = data.replace("nan", np.nan)
data = data.replace("missing", np.nan)
data = data.replace("na", np.nan)
data.shape

(80000, 49)

In [101]:
data = data.drop(columns = ['mvar4', 'mvar5'])

In [102]:
data.shape

(80000, 47)

In [103]:
data['mvar7'] = data['mvar7'] + data['mvar8']
data = data.drop(columns = ['mvar8'])

In [104]:
data.shape

(80000, 46)

In [105]:
data['mvar16'] = data['mvar16'] + data['mvar17'] + data['mvar18']
data = data.drop(columns = ['mvar17', 'mvar18'])

In [106]:
data.shape

(80000, 44)

In [107]:
data['mvar19'] = data['mvar19'] + data['mvar20']
data = data.drop(columns = ['mvar20'])

In [108]:
data.shape

(80000, 43)

In [109]:
data['mvar26'] = (data['mvar26'] + data['mvar27'] + data['mvar29'])
data = data.drop(columns = ['mvar27', 'mvar29'])

In [110]:
type(data.iloc[0]['mvar26'])

str

In [111]:
data['mvar26'] = pd.to_numeric(data['mvar26'])

In [112]:
data['mvar26'] /= 3.0

In [113]:
data.shape

(80000, 41)

In [114]:
data['mvar30'] = (data['mvar30'] + data['mvar31'])
data = data.drop(columns = ['mvar31'])
data['mvar30'] = pd.to_numeric(data['mvar30'])
data['mvar30'] /= 2.0

In [115]:
data.shape

(80000, 40)

In [116]:
data['mvar35'] = pd.to_numeric(data['mvar35'])
data['mvar35'] /= 4.0
data['mvar34'] = pd.to_numeric(data['mvar34'])
data['mvar34'] = (data['mvar34'] + data['mvar35'])
data = data.drop(columns = ['mvar35'])
data['mvar34'] /= 2.0

In [117]:
data.shape

(80000, 39)

In [118]:
data['mvar40'] = pd.to_numeric(data['mvar40'])
data['mvar41'] = pd.to_numeric(data['mvar41'])
data['mvar40'] = (data['mvar40'] + data['mvar41'])
data = data.drop(columns = ['mvar41'])
data['mvar40'] /= 2.0

In [119]:
data.shape

(80000, 38)

In [120]:
data['mvar45'] = pd.to_numeric(data['mvar45'])
data['mvar46'] = pd.to_numeric(data['mvar46'])
data['mvar45'] = (data['mvar45'] + data['mvar46'])
data = data.drop(columns = ['mvar46'])
data['mvar45'] /= 2.0

In [121]:
data.shape

(80000, 37)

In [122]:
data.to_csv('./RefinedData/feature.csv')