In [37]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [38]:
import xgboost as xgb
from xgboost.sklearn import XGBClassifier
from sklearn import model_selection, metrics   #Additional scklearn functions

In [39]:
data = pd.read_csv('./training_data_v2.csv', low_memory=False)

In [40]:
data.head()

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar36,mvar37,mvar38,mvar39,mvar42,mvar43,mvar44,mvar46,mvar47,default_ind
0,230032.0,1696.0,1.6541,0.000,0.0,0.0,0.0,6015.0,322.0,40369.0,...,8.0,10.0,4.0,1.0,0.08696,10.0,0.63899,0.0,1.0,0.0
1,230033.0,1846.0,0.8095,0.000,0.0,0.0,102.0,7532.0,3171.0,18234.0,...,8.0,0.0,2.0,0.0,0.00000,13.0,0.63836,0.0,0.0,1.0
2,230035.0,1739.0,0.2193,0.000,0.0,0.0,1982.0,26440.0,4955.0,20316.0,...,3.0,3.0,2.0,0.0,0.15385,3.0,0.53241,0.0,0.0,0.0
3,230036.0,1787.0,0.0118,0.225,0.0,0.0,5451.0,5494.0,5494.0,7987.0,...,2.0,3.0,2.0,0.0,0.00000,1.0,0.92665,0.0,0.0,0.0
4,230040.0,1836.0,0.1358,0.000,0.0,0.0,347.0,38964.0,17828.0,70729.0,...,6.0,12.0,2.0,0.0,0.00000,10.0,0.89868,0.0,0.0,0.0

In [41]:
X = data[data.loc[:, data.columns != 'default_ind'].columns]
Y = data['default_ind']
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, test_size=.2, random_state=1)

In [68]:
X_train['default_ind'] = Y_train

/home/akul/.local/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [76]:
X_train.head()
target = 'default_ind'

In [77]:
np.sum(X_train['default_ind'].values)

10074.0

In [78]:
np.sum(Y_train.values)

10074.0

In [79]:
def modelfit(alg, dtrain, predictors,useTrainCV=True, cv_folds=5, early_stopping_rounds=50):
    
    if useTrainCV:
        xgb_param = alg.get_xgb_params()
        #xgb_param['num_class']=2
        xgtrain = xgb.DMatrix(dtrain[predictors].values, label=dtrain[target].values)
        cvresult = xgb.cv(xgb_param, xgtrain, num_boost_round=alg.get_params()['n_estimators'], nfold=cv_folds,
             early_stopping_rounds=early_stopping_rounds,stratified=True)
        alg.set_params(n_estimators=cvresult.shape[0])
    
    #Fit the algorithm on the data
    alg.fit(dtrain[predictors], dtrain[target],eval_metric='auc')
        
    #Predict training set:
    dtrain_predictions = alg.predict(dtrain[predictors])
    dtrain_predprob = alg.predict_proba(dtrain[predictors])[:,1]
        
    #Print model report:
    print ("\nModel Report")
    print ("Accuracy : %.4g" % metrics.accuracy_score(dtrain[target].values, dtrain_predictions))

In [80]:
predictors = [x for x in X_train.columns if x not in ['default_ind']]
print(predictors)

['application_key', 'mvar1', 'mvar2', 'mvar3', 'mvar4', 'mvar5', 'mvar6', 'mvar7', 'mvar8', 'mvar9', 'mvar10', 'mvar12', 'mvar13', 'mvar14', 'mvar16', 'mvar17', 'mvar18', 'mvar19', 'mvar20', 'mvar21', 'mvar24', 'mvar25', 'mvar26', 'mvar27', 'mvar28', 'mvar29', 'mvar32', 'mvar33', 'mvar34', 'mvar36', 'mvar37', 'mvar38', 'mvar39', 'mvar42', 'mvar43', 'mvar44', 'mvar46', 'mvar47']

In [162]:
xgb1 = XGBClassifier(
 learning_rate =0.01,
 n_estimators=1000,
 max_depth=5,
 min_child_weight=1,
 gamma=0,
 subsample=0.8,
 colsample_bytree=0.8,
 objective= 'binary:logistic',
 nthread=4,
 scale_pos_weight=1,
 seed=27)
modelfit(xgb1, X_train, predictors)

Model Report
Accuracy : 0.8377

In [163]:
Y_pred=xgb1.predict(X_test)

In [164]:
xgb1.predict_proba(X_test)

array([[0.93748975, 0.06251027],
       [0.89933276, 0.10066727],
       [0.6918422 , 0.30815783],
       ...,
       [0.9848882 , 0.0151118 ],
       [0.97661865, 0.02338136],
       [0.9011196 , 0.09888041]], dtype=float32)

In [165]:
float(np.sum(Y_pred == Y_test))/float(np.sum(Y_test == Y_test))

0.8303929430633521

In [166]:
metrics.accuracy_score(Y_test, Y_pred)

0.8303929430633521

In [167]:
X_lead = pd.read_csv('./RefinedData/refined_leaderboard_data.csv', low_memory=False)

In [168]:
X_lead.head()

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar34,mvar36,mvar37,mvar38,mvar39,mvar42,mvar43,mvar44,mvar46,mvar47
0,350053.0,1753.0,0.5001,0.000,0.0,0.0,206.000000,19179.000000,206.000000,14221.000000,...,0.0,3.0,11.0,1.0,0.000000,0.42105,3.0,0.856610,0.000000,0.0
1,350054.0,1894.0,1.9701,0.000,0.0,0.0,297.000000,19820.000000,19820.000000,176895.000000,...,0.0,3.0,12.0,3.0,0.000000,0.00000,15.0,0.943910,0.000000,1.0
2,350055.0,1774.0,0.1718,0.000,0.0,0.0,197.000000,2563.000000,877.000000,8869.000000,...,0.0,3.0,4.0,1.0,0.000000,0.33333,3.0,0.764670,0.000000,1.0
3,350056.0,1586.0,0.1123,5.299,0.0,0.0,1624.069192,17750.368864,6753.202313,33825.554662,...,0.0,1.0,0.0,1.0,0.089912,1.50000,0.0,0.702558,0.092712,1.0
4,350057.0,1832.0,1.4442,0.000,0.0,0.0,179.000000,7577.000000,179.000000,21059.000000,...,0.0,17.0,0.0,3.0,0.000000,0.00000,23.0,0.791900,0.000000,0.0

In [169]:
Y_lead=pd.DataFrame(xgb1.predict(X_lead))

In [170]:
Y_prob = xgb1.predict_proba(X_lead)
Y_prob

array([[0.9283207 , 0.07167929],
       [0.9487862 , 0.0512138 ],
       [0.8573368 , 0.1426632 ],
       ...,
       [0.8759706 , 0.12402939],
       [0.9473692 , 0.0526308 ],
       [0.97857946, 0.02142052]], dtype=float32)

In [171]:
Y_wt = Y_prob[:,0]
Y_wt = np.abs(Y_wt - 0.5)
Y_wt

array([0.4283207 , 0.4487862 , 0.35733682, ..., 0.3759706 , 0.44736922,
       0.47857946], dtype=float32)

In [172]:
sol = pd.DataFrame()
sol['priority'] = pd.Series(Y_wt)
sol['application_key'] = X_lead['application_key'].astype(dtype='int')
sol['default_ind'] = Y_lead.astype(dtype='int')

In [173]:
sol.head()

   priority  application_key  default_ind
0  0.428321           350053            0
1  0.448786           350054            0
2  0.357337           350055            0
3  0.214823           350056            0
4  0.364394           350057            0

In [174]:
sol.sort_values(by = 'priority', ascending = False)

       priority  application_key  default_ind
18874  0.486653           368927            0
3323   0.486651           353376            0
22354  0.486649           372407            0
193    0.486643           350246            0
3708   0.486609           353761            0
14065  0.486578           364118            0
12094  0.486468           362147            0
23075  0.486466           373128            0
11125  0.486458           361178            0
22292  0.486456           372345            0
11668  0.486427           361721            0
712    0.486420           350765            0
74     0.486412           350127            0
1837   0.486398           351890            0
4493   0.486385           354546            0
375    0.486372           350428            0
6897   0.486368           356950            0
17178  0.486333           367231            0
19117  0.486318           369170            0
10145  0.486314           360198            0
9011   0.486309           359064            0
20376  0.486304           370429            0
16751  0.486302           366804            0
3260   0.486284           353313            0
385    0.486272           350438            0
19174  0.486261           369227            0
3303   0.486255           353356            0
5745   0.486249           355798            0
8997   0.486245           359050            0
24436  0.486236           374489            0
...         ...              ...          ...
858    0.001333           350911            1
14710  0.001301           364763            1
6074   0.001261           356127            1
23093  0.001256           373146            1
15417  0.001233           365470            1
9174   0.001219           359227            1
10933  0.001165           360986            0
23947  0.001136           374000            0
2800   0.001016           352853            1
5075   0.000940           355128            0
1652   0.000915           351705            0
8494   0.000903           358547            0
5965   0.000856           356018            1
3117   0.000827           353170            0
17608  0.000726           367661            1
13324  0.000677           363377            0
19806  0.000649           369859            1
12394  0.000644           362447            1
499    0.000623           350552            1
15758  0.000386           365811            1
15598  0.000354           365651            0
22602  0.000329           372655            1
22275  0.000229           372328            0
14895  0.000184           364948            0
11266  0.000179           361319            1
18931  0.000102           368984            0
4429   0.000097           354482            1
19680  0.000070           369733            1
3379   0.000017           353432            0
20116  0.000017           370169            0

[25000 rows x 3 columns]

In [175]:
#sol = sol.drop('priority', axis = 1)
sol.to_csv(path_or_buf='./Submissions/Analyzing_IITGuwahati_26.csv', index = False, header=False)